{% extends "base.html" %}
{% block content %}
<h1>Search</h1>

{% include 'search/partials/_profile_search_form.html'  %}

 {% if query %}
            <h3>Results</h3>

        <div class="container-fluid bg-4 text-left">
                <div class="row">
                    {% for result in page.object_list %}


                <div class="col-sm-4">
                  <div class="thumbnail">

                      <div class="form-group">
                        <p>Id : {{result.id}} </p>
                    </div>

                    <div class="form-group">

                        <p>First name : <a href="{% url 'profiles:detail' result.id %}">{{result.first_name}}</a> </p>
                    </div>

                    <div class="form-group">
                        <p>Last name : {{result.last_name}} </p>
                    </div>

                      <div class="form-group">
                        <p>City : {{result.city}} </p>
                    </div>

                      <div class="form-group">
                        <p>State : {{result.state}} </p>
                    </div>

                    <div class="form-group">
                        <p>Username : {{result.username}} </p>
                    </div>
                    <div class="form-group">
                        <p>Email : {{result.email}} </p>
                    </div>
                  </div>
                </div>
                {% empty %}

                   <p style="text-center">No results found.</p>
                    {% endfor%}
                </div>
        </div>

        {% endif %}

{% endblock %}