div, p {
    color: red;
}

/* TODO: Make this inline for medium and above */
select.form-control {
    display:inline;
}

select[id$="_day"].form-control {
    width: 27%;
}
select[id$="_month"].form-control {
    width: 38%;
}
select[id$="_year"].form-control {
    width: 35%;
}

select[name$="_day".form-control {
    width: 27%;
    color: red;
}
select[name$="_month"].selectdatewidget {
    width: 38%;
    color: green;
}
select[name$="_year"].selectdatewidget {
    width: 35%;
    color: blue;
}

S