{% extends "base.html" %}
{% block content %}
<h1>{{ profile.user.username }}</h1>

{% if error_message %}<p><strong>{{error_message}}</strong></p>{% endif %}
{% if is_user_profile %}
This is the current user's profile.
{% endif %}
{% if profile.user != user %}
{% include 'profiles/partials/_friendship_request_form.html' with id=profile.user.id %}
{% endif %}
<!--Action is what should happen after submit -->
<div>
    <p>{{profile.first_name}}</p>
    <p>{{profile.last_name}}</p>
    <p>{{profile.user.email}}</p>
</div>
{% endblock %}