{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>{{ profile.user.username }}</h1>

    {% if error_message %}<p><strong>{{error_message}}</strong></p>{% endif %}

    {% if is_user_profile %}
    This is the current user's profile.
    {% for request in pending_friend_requests %}

    {% include 'profiles/partials/_friendship_update_form.html' with id=request.id %}
    <div>Requested By: {{ request.requester.username }}</div>

    {% endfor %}

    <a href="{% url 'profiles:friend-list' profile.id %}">Friends</a>
    <p>Friend Count: {{ friend_list|length }}</p>

    {% endif %}

    {% if friendship_status|length > 0 and not is_user_profile %}
        {% with friendship_status=friendship_status.0 status=friendship_status.0.status %}

        {{ friendship_status.requester }} {{ user }}
        {% if status == "Accept" %}
        {% include 'friendships/partials/_friendship_delete_form.html' with id=friendship_status.id %}
        {% elif status == "Pending" %}
            {% if user.username == friendship_status.requester.username %}
                <button class="btn btn-secondary disabled">Pending Friend Request</button>
            {% elif user.username == friendship_status.requestee.username %}
                {% include 'profiles/partials/_friendship_update_form.html' with id=friendship_status.id form=friendship_update_form %}
            {% endif %}
        {% endif %}
        {% endwith %}
    {% elif not is_user_profile %}
    {% include 'profiles/partials/_friendship_request_form.html' with id=profile.user.id %}
    {% endif %}

    <div>
        <p>{{profile.first_name }} {{profile.last_name}}</p>
        <p>{{profile.user.email}}</p>
    </div>

    <h2>Recent Posts</h2>
    {% for post in posts %}
    {% include 'posts/partials/_post_article.html' with post=post comment_form=comment_form %}
    {% endfor %}
</div>
{% endblock %}

{% block js_block %}
{% include 'posts/partials/_toggle_reaction_js.html' %}
{% endblock %}