<form method="get" action="." class="form d-flex" role="form">
        {{ form.non_field_errors }}
        <div class="form-group">
<!--                {{ form.as_p }}-->
            <input type="search" name="q" id="id_q">

            <ul class="autocomplete border border-dark">
                <li>fdsafdsafdsaf</li>
                <li>fdsafdsa</li>
                <li>fdsafdsa</li>
                <li>fdsafdsafdsa</li>
                <li>fdsafdsaf</li>
                <li>fdsafdsafdsa</li>
            </ul>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Search">
        </div>
</form>