
<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-danger align-self-end" data-bs-toggle="modal" data-bs-target="#delete_comment_modal_{{id}}">
  Delete Comment
</button>

<!-- Modal -->
<div id="delete_comment_modal_{{id}}" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modal Header</h4>
        <button type="button" class="close" data-bs-dismiss="modal">&times;</button>

      </div>
      <div class="modal-body d-flex flex-column align-items-center">
         <p>Are you sure you want to delete?</p>
    <form class="delete-comment-form" method="post" action="{% url 'posts:delete-comment' id %}">
    {% csrf_token %}

    <button class="btn btn-danger"  type="submit">Yes</button>
    <button class="btn btn-secondary" data-bs-dismiss="modal">No</button>
    </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



