<script>
    const DELETE_COMMENT_BUTTONS = document.getElementsByClassName('delete-comment-button');
    const DELETE_COMMENT_FORMS = document.getElementsByClassName('delete-comment-form');

    let toggleModal = () => {

    }

    let deleteComment = () => {

    }

    for (let i = 0; i < DELETE_COMMENT_BUTTONS.length; i++) {
        let button = DELETE_COMMENT_BUTTONS[i];
        button.onclick = toggleModal;
    }

    for (let i = 0; i < DELETE_COMMENT_FORMS.length; i++) {
        let button = DELETE_COMMENT_BUTTONS[i];
        button.onclick = toggleModal;
    }


</script>