<script>
    const DELETE_COMMENT_BUTTONS = document.getElementsByClassName('delete-comment-button');
    const DELETE_COMMENT_MODALS = document.getElementsByClassName('delete-comment-modal');
    const DELETE_COMMENT_FORMS = document.getElementsByClassName('delete-comment-form');

    let toggleModal = (modal) => {
        console.log("Toggling!");
        modal.classList.toggle("open");
        console.log("It worked!");
    }

    let deleteComment = (e) => {
        e.preventDefault();



    }

    //Toggle modal
    //for (let i = 0; i < DELETE_COMMENT_BUTTONS.length; i++) {
        //let button = DELETE_COMMENT_BUTTONS[i];
        //console.log("BUtton", button);
        //button.onclick = ()=>toggleModal(DELETE_COMMENT_MODALS[i]);
    //}

    for (let i = 0; i < DELETE_COMMENT_FORMS.length; i++) {
        let form = DELETE_COMMENT_FORMS[i];
        form.onsubmit = deleteComment;

    }


</script>