
<!-- Trigger/Open The Modal -->
<button id="myBtn" data-comment-id="{{id}}" class="btn btn-danger align-self-end delete-comment-button">Delete</button>

<!-- The Modal -->
<div id="delete_comment_modal_{{id}}" class=" delete-comment-modal">

  <!-- Modal content -->
  <div class="modal-content ">
    <span class="close">&times;</span>
    <p>Are you sure you want to delete?</p>
    <form class="delete-comment-form" method="post" action="{% url 'posts:delete-comment' id %}">
    {% csrf_token %}

    <button class="btn btn-danger"  type="submit">Yes</button>
    <button class="btn btn secondary">No</button>
    </form>

  </div>

</div>



