
<!-- Trigger/Open The Modal -->
<button id="myBtn" class="btn btn-danger">Delete</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Are you sure you want to delete?</p>
  </div>

</div>

<!--<form method="post" action="/posts/{{id}}/{{type}}/reaction/">-->
<!--    {% csrf_token %}-->

<!--    <button  class="btn btn-danger"  type="submit">-->
<!--        Delete Comment-->
<!--    </button>-->
<!--</form>-->

