<script>
    const DELETE_COMMENT_BUTTONS = document.getElementsByClassName('delete-comment-button');
    const DELETE_COMMENT_MODALS = document.getElementsByClassName('delete-comment-modal');
    const DELETE_COMMENT_FORMS = document.getElementsByClassName('delete-comment-form');

    let toggleModal = (modal) => {
        console.log("Toggling!");
        modal.classList.toggle("open");
        console.log("It worked!");
    }

    let deleteComment = (e) => {
        e.preventDefault();
    }




</script>