<script>

    let reaction_forms = $('.reaction__form');
    let reaction_buttons = document.getElementsByClassName('reaction__button');

    // Used to update the styling of the reaction button
    let updateReactionButtonStyle = (id)=> {
        let button = $(`#reaction__button__${id}`);
        button.toggleClass("btn-secondary btn-primary");

        button.text() === "Like" ? button.text("Unlike") :  button.text("Like");
    }

    let updateLikeCount = (id, updatedCount)=> {
        let like_count_div = $(`#reaction__count__${id}`);
        like_count_div.text(`${updatedCount}`)
    }


    let toggleLike = (e, id, type) => {

        console.log("Id", id, "type", type);

        let serializedData = $(e).serialize();
        console.log("Serialized data", serializedData);

        //Check button's current status
        let currentLikeStatus = document.getElementById(`reaction__button__${id}`).textContent == "Like";

        console.log("Text content", currentLikeStatus);

        $.ajax({
            type: 'POST',
            url:  `{% url 'posts:toggle-reaction' object_id=9998 object_type=9999 %}`.replace(9998, id).replace(9999, type),
            data: serializedData,
            success: function (response) {

                let updated_count = JSON.parse(response['object_reaction_count']);
                updateLikeCount(id, updated_count);
                updateReactionButtonStyle(id);

            },
            error: function (response) {
                // alert the error if any error occured
                alert(response["responseJSON"]["error"]);
            }
        })


        //Depending on what they change it to increment or decrement the count
    }


<!--    Assign the on submits -->
    reaction_forms.each((i, form)=>{
        console.log("Form", form);
        let reaction_id = $(form).data('reactionId');
        let post_type = $(form).data('postType');
        $(form).submit((e)=> {
            e.preventDefault();
            toggleLike(form, reaction_id, post_type);
        });
    });

</script>