{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Microblog{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'microblog/styles/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'microblog/styles/medium.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'microblog/styles/large.css' %}">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    {% block head  %}
    {% endblock %}
</head>

<body>

    <div id="page-container" class="d-flex flex-column justify-content-between">
 {% comment "This div wrapping the nav and main is meant to prevent the main from being positioned in the center" %}{% endcomment %}
    <div>
        {% block navbar %}
            {% include 'partials/_navbar.html' %}
        {% endblock %}

            {% if messages %}
            <ul class="messages p-0">
                {% for message in messages %}

                <div {% if message.tags %} class=" alert alert-{{ message.tags }}" {% endif %} role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            </ul>
            {% endif %}



        <main class="container d-flex flex-column p-4">
          {% block content %} {% endblock content %}
        </main>
    </div>

    {% block footer %}
    <footer class="text-center bg bg-secondary p-3">

        <p class="text-light">Company Title ® 2020. All Rights Reserved.</p>
        <p class="text-light">Website Design by SHuang | Sitemap | Private Policy
    </p>
    </footer>
    {% endblock %}
</div>

<script src="https://kit.fontawesome.com/85f280929d.js" crossorigin="anonymous"></script>

{% block js_block %}
    <script src="{% static 'microblog/main.js' %}"></script>
{% endblock %}

</body>
</html>