{% extends "base.html" %}
{% load static %}
{% block content %}
<div class=" border-bottom pb-5">
    <h1>{{ post.post_title }}</h1>
    <h5>By: {{ post.author.username }}</h5>
    <div>Date Published: {{post.pub_date}}</div>
    <p class="mt-3 mb-3">{{post.post_body}}</p>

    {% include 'posts/partials/_toggle_reaction.html' with id=post.id is_liked=post.is_liked_by_user type="post" reaction_count=post.reactions.count %}

    {% if post.author == user %}

    <div class="d-flex mt-3">
        <a class="me-3 d-block" href="{% url 'posts:update-post' post.id %}">Edit</a>
        <a href="{% url 'posts:delete-post' post.id %}">Delete</a>
    </div>

    {% endif %}

    {% include 'posts/partials/_comments_new.html' with id=post.id %}

</div>

<h5 class="mt-5">Comments:</h5>
{% for comment in comments %}

<div class="mb-5">
    <h6>{{comment.author}}:</h6>
    <p>{{comment.comment_body}}</p>


    <div class="d-flex">
    {% include 'posts/partials/_toggle_reaction.html' with id=comment.id is_liked=comment.is_liked_by_user type="comment" reaction_count=comment.reactions.count %}

    {% if comment.author == user %}

    {% include 'posts/partials/_comments_delete.html' %}

    {% endif %}
    </div>


</div>
{% endfor %}

{% endblock %}
{% block js_block %}
    <script src="{% static 'posts/js/main.js' %}"></script>
    {% include 'posts/partials/_toggle_reaction_js.html' %}
{% endblock %}