

{% extends "base.html" %}

{% block content %}
<h1>{{ post.post_title}}</h1>
<h5>By: {{ post.author.username }}</h5>
<div>Date Published: {{post.pub_date}}</div>
<p>{{post.post_body}}</p>

{% include 'posts/partials/_toggle_reaction.html' with id=post.id is_liked=post.is_liked_by_user type="post" reaction_count=post.reactions.count %}

<h5>Comments:</h5>
{% for comment in post.comment_set.all %}

<div>
    <p>{{comment.comment_body}}</p>
    <h6>{{comment.author}}</h6>

    {% include 'posts/partials/_toggle_reaction.html' with id=comment.id is_liked=comment.is_liked_by_user type="comment" reaction_count=comment.reactions.count %}

</div>
{% endfor %}

{% include 'posts/partials/_comments_new.html' with id=post.id %}

{% endblock %}